<Bar Breakpoint="Breakpoint.Desktop" Background="Background.Light" Shadow="Shadow.Remove" ThemeContrast="ThemeContrast.Light">
    <BarBrand>
        <Heading Size="HeadingSize.Is6">Job Data Map</Heading>
    </BarBrand>
    <BarStart>
    </BarStart>
    <BarEnd>
        <Button Color="Color.Primary"
                Clicked="@OnAddDataMap"
                Disabled="@IsReadOnly">
            <Icon Name="@MaterialIcons.Add" />Add
        </Button>
    </BarEnd>
</Bar>
<Card>
    <CardBody>
        <Table Hoverable="true"
               Striped="true" Borderless="true"
               FixedHeader="true" Style="max-height: 280px; overflow: auto;">
            <colgroup>
                <col />
                <col />
                <col style="width: 200px;" />
                <col style="width: 60px;" />
            </colgroup>
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                    <th>Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in @JobDetail.JobDataMap)
                {
                    <tr>
                        <td>@row.Key</td>
                        <td>@row.Value.ToString()</td>
                        <td>@row.GetDataMapTypeDescription()</td>
                        <td>
                            <Button Size="Size.Small"
                                    Clicked="() => OnEditDataMap(row)"
                                    Disabled="@IsReadOnly"
                                    title="Edit">
                                <Icon Name="@MaterialIcons.Edit"></Icon>
                            </Button>
                            <Button Size="Size.Small"
                                    Clicked="() => OnCloneDataMap(row)"
                                    Disabled="@IsReadOnly"
                                    title="Copy">
                                <Icon Name="@MaterialIcons.ContentCopy"></Icon>
                            </Button>
                            <Button Size="Size.Small"
                                    Clicked="() => OnDeleteDataMap(row)"
                                    Disabled="@IsReadOnly" title="Delete">
                                <Icon Name="@MaterialIcons.Delete"></Icon>
                            </Button>
                        </td>
                    </tr>
                }
            </tbody>
        </Table>
    </CardBody>
</Card>